<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beer Tracker</title>
</head>
<body>

<a href="/logout">Logout</a>

<br><br>

<a href="/">All</a>
<a href="/?type=Ale">Ales</a>
<a href="/?type=Lager">Lagers</a>
<a href="/?type=Pilsner">Pilsners</a>
<a href="/?type=Stout">Stouts</a>
<a href="/?type=Other">Others</a>
<a href="/?showMine=true">My Beers</a>

<br><br>

<form action="/" method="get">
    <input type="text" placeholder="Search" name="search"/>
    <button type="submit">Search</button>
</form>

<br><br>

<form action="add-beer" method="post">
    <input type="text" placeholder="Beer Name" name="beername"/>
    <select name="beertype">
        <option value="Ale">Ale</option>
        <option value="Lager">Lager</option>
        <option value="Pilsner">Pilsner</option>
        <option value="Stout">Stout</option>
        <option value="Other">Other</option>
    </select>
    <input type="number" placeholder="Calories" name="beercalories"/>
    <button type="submit">Submit</button>
</form>

{{#beers}}
{{name}} - {{type}} - {{calories}} by {{#user}}{{name}}{{/user}}<br>
{{/beers}}
</body>
</html>