<html>
<body>
{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="name"/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
Welcome, {{name}}!<br>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

<form action="/create-event" method="post">
    <input type="text" placeholder="Description" name="description" size="50"/>
    <input type="datetime-local" name="dateTime" value="{{now}}"/>
    <button type="submit">Add Event</button>
</form>
{{/user}}

{{#events}}
{{description}} {{dateTime}}
{{#showFavButton}}
<form action="/fav" method="post" style="display: inline">
    <input type="hidden" value="{{id}}" name="id"/>
    <button type="submit">Add Favorite</button>
</form>
{{/showFavButton}}
<br>
{{/events}}
</body>
</html>