<html>
<body>
Welcome, {{username}}!
<form action="create-beer" method="post">
    <input type="text" placeholder="Beer name" name="beername"/>
    <select name="beertype">
        <option value="Ale">Ale</option>
        <option value="Lager">Lager</option>
        <option value="Pilsner">Pilsner</option>
        <option value="Stout">Stout</option>
        <option value="Other">Other</option>
    </select>
    <button type="submit">Submit</button>
</form>
<form action="delete-beer" method="post">
    <input type="number" placeholder="Beer #" name="beerid"/>
    <button type="submit">Delete</button>
</form>
{{#beers}}
{{id}}. {{name}} - {{type}}<br>
{{/beers}}
</body>
</html>